server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:eventdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password: sa
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  cache:
    type: simple

logging:
  level:
    com.doublevpartners.event: DEBUG

springdoc:
  api-docs:
    path: /api/docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    disable-swagger-default-url: true
    url: /api/docs
    config-url: /api/docs
    try-it-out-enabled: true
    operations-sorter: method
    tags-sorter: alpha
    urls:
      - url: /api/docs
        name: Event Platform API
    urls-primary-name: Event Platform API
